*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
background 
: url(lop.jpg)no-repeat;
background-size: cover;

font-family: sans-serif;
}
.header {
    position: relative;
    margin: 10px;
    left: 200px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.img {
    position: relative;
    margin: 10px;
    left: 20px;
    height: 150px; 
    width: 200px;
    border-radius: 30px;
    bottom: 80px;
}
.menu-bar {
    position: relative;
    bottom: 80px;
    height: 100px;
    background-color: orange;
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: gray;
}
.menu-bar ul li {
    width: 120px;
    margin:15px;
    padding: 15px;
}
.menu-bar ul li a {
   text-decoration: none;
   color: white;
}
.active, .menu-bar ul li:hover {
  background:rgb(218, 173, 90);
  border-radius: 4px;
}
.menu-bar .fa {
    margin-right: 8px;
}
.sub-menu-1 {
    display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(122, 117, 107);
    margin-top: 15px;
    margin-left:-15px;
}
.menu-bar ul li:hover .sub-menu-1  ul {
display: block;
margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1  ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1  ul li:last-child {
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1  ul li a:hover{
    color: #ffffff;
}